.debug {
  border: 1px dotted deeppink !important;
}
.debug *.debug {
  border: 1px dotted yellow !important;
}
.debug *.debug *.debug {
  border: 1px dotted cyan !important;
}
.debug *.debug *.debug *.debug {
  border: 1px dotted lime !important;
}
.debug *.debug *.debug *.debug *.debug {
  border: 1px dotted red !important;
}
