// NibblePoker CSS Theme - CC0 1.0 (Public Domain)


/* Variables */

// If not set to `-1`, will auto define a low-priority size for headers.
$text-weight-header: 600;




$scrollbar-size: 1.25em;

/* Variables > Others */

$border-base-radius: 5px;

$margin-base-size: 1rem;

$grid-gap-base-size: 1rem;

//$hr-base-height: 0.5rem; // Nope

$text-header-weight: 600;

$size-sidebar: 15rem;
//$size-sidebar: 30rem;

$content-search-image-size: 128px;

/* Variables > Z Indexes */

$z-index-sidebar: 5;
$z-index-lang-dropdown: 10;
$z-index-modal: 99;


/* Variables > Themes & Overrides */
//@import "themes/theme_unset";
//@import "old/parts/theme_nibblepoker_v2";
@import "old/parts/theme_nibblepoker_v3";
