// NibblePoker CSS Theme - CC0 1.0 (Public Domain)

/* Core > Borders */

/* Core > Borders > Enabling */

.b, .border {
	border: 1px solid #{$color-border-all};
}

.bx {
	border-left: 1px solid #{$color-border-all};
	border-right: 1px solid #{$color-border-all};
}

.by {
	border-top: 1px solid #{$color-border-all};
	border-bottom: 1px solid #{$color-border-all};
}

@mixin border-maker-enable($side-key, $side-css-key) {
	.b#{$side-key} {
		border-#{$side-css-key}: 1px solid #{$color-border-all};
	}
}

@include border-maker-enable("t", "top");
@include border-maker-enable("b", "bottom");
@include border-maker-enable("l", "left");
@include border-maker-enable("r", "right");


/* Core > Borders > Disabling */

.b-0 {
	border: 0;
}

.bx-0 {
	border-left: 0;
	border-right: 0;
}

.by-0 {
	border-top: 0;
	border-bottom: 0;
}

@mixin border-maker-disable($side-key, $side-css-key) {
	.b#{$side-key}-0 {
		border-#{$side-css-key}: 0;
	}
}

@include border-maker-disable("t", "top");
@include border-maker-disable("b", "bottom");
@include border-maker-disable("l", "left");
@include border-maker-disable("r", "right");


/* Core > Borders > Styles */

// TODO: Improve if per-side border styles are required.

@mixin border-style-maker($style-key, $style-css-value) {
	.border-#{$style-key}, .b-#{$style-key} {
		border-style: #{$style-css-value};
	}
}

@include border-style-maker("none", "none");
@include border-style-maker("hidden", "hidden");
@include border-style-maker("dotted", "dotted");
@include border-style-maker("dashed", "dashed");
@include border-style-maker("solid", "solid");
@include border-style-maker("double", "double");
@include border-style-maker("groove", "groove");
@include border-style-maker("ridge", "ridge");
@include border-style-maker("inset", "inset");
@include border-style-maker("outset", "outset");
