// NibblePoker CSS Theme - CC0 1.0 (Public Domain)

/* Core > Display */

.d-none {
	display: none;
}

.d-inline-block {
	display: inline-block;
}

.o-hidden {
	overflow: hidden;
}

// Notes:
// * 'core/grid.scss' defines '.d-grid' !  (Add here if grids are disabled !)
