// NibblePoker CSS Theme - CC0 1.0 (Public Domain)


/* Utils > Display */

.d-none {
	display: none;
}

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block;
}

// Notes:
// * 'core/core-grids.scss' defines '.d-grid' !  (Add here if grids are disabled !)
