// NibblePoker CSS Theme - CC0 1.0 (Public Domain)


/* Text > Misc */

.t-ucase {
    text-transform: uppercase;
}

.t-lcase {
    text-transform: lowercase;
}

.t-capitalize {
    text-transform: capitalize;
}

.t-nowrap {
    white-space: nowrap;
    text-wrap: nowrap;
}
