// NibblePoker CSS Theme - CC0 1.0 (Public Domain)


/* Text > Alignment */

.t-justify {
    text-align: justify;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.t-start {
    text-align: start;
}

.t-end {
    text-align: end;
}
