
.border, code, .code, kbd {
	border-color: #{$color-border-surround};
	
	//&.b-light {
	//	border: 1px solid #{$color-border-light};
	//}
}

code, .code, kbd {
	border-color: #{$color-border-code};
}

main {
	.border {
		border-color: #{$color-border-main};
		
		//&.b-light {
		//	border: 1px solid #{$color-border-light};
		//}
	}
}

// Special fix for select inputs' dropdown menu
//select.border option::before {
//	border: 1px solid deeppink !important;
//}
