// NibblePoker CSS Theme - CC0 1.0 (Public Domain)

/* Site > Tables */

table.stylish {
	th {
		font-weight: bold;
	}
	
	tr {
		background-color: #{$color-background-table-dual};
	}
	
	tr:not(:last-of-type), th {
		border-bottom: 1.5px solid #{$color-table-border};
	}
	
	tr:nth-child(2n), th {
		background-color: #{$color-background-table-main};
	}
	
	td:not(:last-of-type), th:not(:last-of-type) {
		border-right: 1.5px solid #{$color-table-border};
	}
	
	// See 'site/border.scss' for border fix.
}
