// NibblePoker CSS Theme - CC0 1.0 (Public Domain)

/* Site > Tables */

.table-stylish {
	border-collapse: separate;
	overflow: hidden;

	th {
		font-weight: bold;
	}
	
	tr {
		background-color: #{$color-background-table-dual};
	}

	tr:not(:last-of-type), th {
		border-bottom: 1.5px solid #{$color-table-border};
	}
	
	tr:nth-child(2n), th {
		background-color: #{$color-background-table-main};
	}
	
	td:not(:last-of-type), th:not(:last-of-type) {
		border-right: 1.5px solid #{$color-table-border};
	}

	// Remark: Tables can be rounded if their parent is.
	//         Thank the modern web for that...
}
