// NibblePoker CSS Theme - CC0 1.0 (Public Domain)


/* Inputs > Text Area */

.ta-resize {
    resize: both;
}

.ta-resize-h {
    resize: horizontal;
}

.ta-resize-v {
    resize: vertical;
}

.ta-resize-none {
    resize: none;
}
